:root 
{
   --primaryColor: #664efc;
   --secondaryColor: #a7a4a8;
   --warning: #ffdddd;
   --gradient: linear-gradient(130deg, #ecccf7 7%, 14%, #f2f0ea 40%);
   --borderColor: #bbb;
   --shadow: 0px 0px 8px 0px rgb(144 133 133 / 80%);
}   

* 
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html
{
   font-size: 6.25%;
}

body 
{
   background: var(--gradient);
   box-sizing: border-box;
   width: 100%;
   height: auto;
   min-height: 100vh;
   display: grid;
   place-items: center;
   font-family: 'Roboto', sans-serif;
}

p, label, select, input, button
{
   font-size: 18rem;
   font-family: 'Roboto', sans-serif;
}

#register
{
   margin: 0 0 25px;
   height: auto;
   min-height: 85vh;
   width: 85%;
   min-width: 300px;
   text-align: center;
}

.tab 
{
   display: none;
}

h1 
{
   text-align: center;  
   font-size: 28rem;
   margin: 30px 0 20px;
   letter-spacing: 0.8px;
}

.emoji
{
   height: 50px;
}

.fields
{
   border-radius: 20px;
   box-shadow: var(--shadow);
   padding: 20px 30px 20px;
   margin-top: 20px;
   min-height: 52vh;
}

.group
{
   position: relative;
   margin: 40px 0;
}

input 
{
   padding: 10px;
   width: 100%;
   border: none;
   border-bottom: 1px solid var(--borderColor);
   color: #4945459c;
   box-shadow: var(--shadow);
}

input:focus
{
   outline: none;
   color: #5b5d5d;
}

input:focus~label, input:valid~label
{
   top: -25px;
   font-size: 12rem;
   color: black;
   box-shadow: none;
}

input.invalid 
{
   background-color:  var(--warning);
}

.line 
{
   position: relative;
   display: block;
   width: 100%;
}

.line::before
{
   content: "";
   height: 3px;
   width: 0%;
   bottom: 0;
   position: absolute;
   background: linear-gradient(130deg, #d397d8 12%, 45%, #ecccf7 100%);
   transition: 0.3s ease width;
   left: 0;
}

input:focus~.line::before
{
   width: 100%;
}


label 
{
   display: block;
   font-weight: 400;
   color: #4945459c;
   position: absolute;
   top: 10px;
   left: 5px;
   transition: 0.5s;
   pointer-events: none;
}

.sale label
{
   position: static;
   text-align: start;
   margin-bottom: 8px;
}

p 
{
   margin: 16px 0;
}

select
{
   height: 42px;
   width: 98%;
   box-sizing: content-box;
}

.subtitle 
{
   text-align: start;
   margin-bottom: 25px;
   font-weight: bold;
}

.check 
{
   height: 100px;
}

.check > p 
{
   display: flex;
   justify-content: start;
   align-items: baseline;
   flex-direction: row-reverse;
}

.check label
{
   margin-left: 20px;
   position: static;
}

.check input 
{
   width: auto;
}

.check a
{
   font-weight: bold;
   text-decoration: none;
   color: var(--primaryColor);
}

input[type=checkbox] 
{
   transform: scale(2);
   -ms-transform: scale(2);
   -webkit-transform: scale(2);
   padding: 10px;
}

.photo 
{
   min-height: 35vh;
}

.photo_label
{
   margin-top: 40px;
   margin-left: 12px;
   position: static;
}

.photo_input 
{
   border: 0;
   box-shadow: none;
}

.container-btns 
{
   overflow:auto;
   display: flex;
   justify-content: center;
   margin-top: 30px;
}

.btns
{
   width: 100%;
   display: flex;
   justify-content: space-evenly;
}

button 
{
   background-color: var(--primaryColor);
   color: white;
   border: none;
   padding: 10px 20px;
   cursor: pointer;
}

button:hover 
{
   opacity: 0.8;
}

#prevBtn 
{
   background-color: var(--secondaryColor);
}

.circles 
{
   text-align:center;
   margin:30px 0 5px;
}

.step 
{
   height: 15px;
   width: 15px;
   margin: 0 2px;
   background-color: var(--borderColor);
   border: none;
   border-radius: 50%;
   display: inline-block;
   opacity: 0.5;
}

.step.active 
{
   opacity: 1;
}

.step.finish 
{
   background-color: var(--primaryColor);
}

