* 
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body 
{
   background: linear-gradient(130deg, #ecccf7 5%, 10%, #f2f0ea 40%);
   box-sizing: border-box;
   width: 100%;
   height: auto;
   display: grid;
   place-items: center;
   font-family: 'Roboto', sans-serif;
}

#register
{
   margin: 0 0 25px;
   height: auto;
   min-height: 85vh;
   width: 85%;
   min-width: 300px;
   /* border-radius: 20px; */
   text-align: center;
}

.fields
{
   border: 2px solid #c3c3c3;
   border-radius: 20px;
   padding: 20px 30px 20px;
   margin-top: 20px;
   /* background: rgb(255 255 255 / 62%); */
}

h1 
{
   text-align: center;  
   font-size: 28px;
   margin: 30px 0 20px;
}

p 
{
   margin: 16px 0;
}

select
{
   height: 42px;
   width: 98%;
   box-sizing: content-box;
   font-size: 17px;
   font-family: 'Roboto', sans-serif;
}

label 
{
   display: block;
   text-align: initial;
   margin-bottom: 10px;
}

.home 
{
   height: 40px;
}

input 
{
   padding: 10px;
   width: 100%;
   font-size: 17px;
   font-family: 'Roboto', sans-serif;
   border: 1px solid #aaaaaa;
}

input.invalid 
{
   background-color: #ffdddd;
}

.tab 
{
   display: none;
}

.container-btns 
{
   overflow:auto;
   display: flex;
   justify-content: center;
   margin-top: 30px;
}

button 
{
   background-color: #664efc;
   color: #ffffff;
   border: none;
   padding: 10px 20px;
   font-size: 17px;
   font-family: Raleway;
   cursor: pointer;
}

button:hover 
{
   opacity: 0.8;
}

#prevBtn 
{
   background-color: #bbbbbb;
}

.circles 
{
   text-align:center;
   margin:30px 0 5px;
}

.step 
{
   height: 15px;
   width: 15px;
   margin: 0 2px;
   background-color: #bbbbbb;
   border: none;
   border-radius: 50%;
   display: inline-block;
   opacity: 0.5;
}

.step.active 
{
   opacity: 1;
}

.step.finish 
{
   background-color: #04AA6D;
}